.homeText {
    font-size: medium;
    text-align: center;
    font-family: "Abel";
    color: rgb(69, 67, 67);
    margin-top: 5%;
}

.imageContainer{
  display: flex;
  justify-content: center;
}

.instagramLink{
  color: rgb(69, 67, 67);
  text-decoration: underline;
  margin-top: 5%;
  }
  .instagramLink:hover{
    color:#a42407
  }

@media (min-width: 768px){
  .homeText{
    font-size: large;
  }
  
  .instagramLink{
    font-size: large;
  }
}


