.homeText {
    font-size: medium;
    text-align: center;
    font-family: "Abel";
    color: rgb(69, 67, 67);
    margin-top: 5%;
}

.instagramLink{
  font-size: medium;
  text-align: center;
  font-family: "Abel";
  color: rgb(69, 67, 67);
  text-decoration: underline;
  margin-top: 5%;
  }
  .instagramLink:hover{
    color:#a42407
  }

.image{
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 14%;
  width: 75%;
  height: 0%;
}

@media (min-width: 768px){
  .homeText{
    font-size: large;
  }
  
  .instagramLink{
    font-size: large;
  }
}


