.tabs{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 4%;
    }
  
    .tabs a:not(:last-child){
    margin-right: 9vw;
    }
    
    @media (max-width: 600px){
      .tabs a{
        font-size: 0.8rem;
      }
    }
  
  
  .a {
      text-decoration: none;
      font-size: large;
      font-family: 'Abel';
      box-shadow: inset 0 0 0 0 #a42407;
      color: #787878;
      margin: 0 -.20rem;
      padding: 0 .25rem;
      transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    }
    .tabs a:hover {
      box-shadow: inset 100vw 0 0 0 #a42407;
      color: white;
    }
    @media (min-width: 768px){
      .a{
        font-size: x-large;
      }
    }

.hoursText {
    font-size: medium;
    text-align: center;
    font-family: "Abel";
    color: rgb(69, 67, 67);
    margin-top: 5%;
    }
    
@media (min-width: 768px){
    .homeText{
    font-size: large;
      }
    }

.dayTimeContainer{
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

.day{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 5vh;
}

.dayLabel{
    font-weight: bold;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time p{
    margin: 0;
    padding-left: 1.5vw;
}