.hoursText {
    font-size: x-small;
    font-family: "Abel";
    color: rgb(69, 67, 67);
    margin-top: 5%;
    width: 60%;
    }
    

.dayTimeContainer{
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

.day{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.dayLabel{
    font-weight: bold;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time p{
    margin: 0;
    padding-left: 1.5vw;
}

.image{
  margin-top: 12%;
  padding-right: 20%;
  width: 30%;
  
}

.content{
  display: flex;
  justify-content: flex-start;
}


@media(min-width: 768px){
  .dayLabel{
    font-size: large;
  }
  .time p{
    font-size: large;
  }
}