/* hours.module.css */
.hoursContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.locationBox {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hoursHeading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hoursContent {
  font-size: 0.87rem;
  line-height: 1.5;
}



@media (min-width: 768px) {
  .locationBox {
    width: 80%;
    margin-bottom: 20px;
  }
  .hoursContent{
    font-size: medium;
  }
  
}
