.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderText {
  padding-top: 6vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
  font-size: small;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 2.5vw;
  text-align: center;
}

.mapContainer iframe {
  width: 30vw;
  height: 25vh;
}

.contact {
  text-align: center;
  margin-top: 7vh;
  font-size: medium;
}

.locationName{
  font-weight: bold;
}

.spacer {
  margin-top: 10vh;
}

@media (min-width: 768px) {
  .orderText {
    font-size: large;
  }
  .contact{
    font-size: large;
  }
}



